/* src/components/Timeline/TimelineFramework.module.css */
.frameworkRow {
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    z-index: 3; /* Высокий z-index, чтобы строки были над линиями */
}

.frameworkLabel {
    width: 200px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 4; /* Еще более высокий z-index для подписей */
    background-color: var(--timeline-bg); /* Фон для подписей, чтобы они не были прозрачными */
    border-radius: 4px; /* Опционально: закругление углов для более приятного вида */
}

.frameworkTimeline {
    position: relative;
    height: 4px;
    background-color: transparent;
}

.frameworkLine {
    position: absolute;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
}

.releasePoint, .supportPoint, .endPoint {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.releasePoint {
    left: 0;
}

.releasePoint, .supportPoint, .endPoint {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.supportPoint {
    left: 0;
}

.endPoint {
    right: 0;
    transform: translate(50%, -50%);
}

.arrowEnd {
    position: absolute;
    right: -15px;
    top: -50%;
    transform: translateY(-50%);
    font-size: 275%;
}

.releasePoint, .supportPoint, .endPoint {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.releasePoint {
    left: 0; /* Точка начала находится в начале серой линии */
}

.supportPoint {
    left: 0; /* Точка поддержки DB находится в начале цветной линии */
}

.endPoint {
    right: 0; /* Точка окончания находится в конце цветной линии */
    transform: translate(50%, -50%);
}

.highlighted {
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.highlightedLabel {
    font-weight: bold;
    animation: pulse 0.5s infinite alternate;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.highlightedLine {
    animation: pulse 0.5s infinite alternate;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.highlightedPoint {
    animation: pulse 0.5s infinite alternate;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    z-index: 4;
}

.highlightedArrow {
    animation: pulse 0.5s infinite alternate;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Добавляем курсор pointer для строк фреймворков */
.frameworkRow {
    cursor: pointer;
}