/* src/components/Timeline/TimelineDependency.module.css */
.dependencyPath {
    pointer-events: visible;
    cursor: pointer;
}

.dependencyLine {
    opacity: 0.8; /* Увеличена базовая непрозрачность */
    transition: opacity 0.2s, stroke-width 0.2s;
}

.arrowhead {
    opacity: 0.9;
    transition: opacity 0.2s, transform 0.2s;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
    transform-origin: 0 0; /* Устанавливаем точку трансформации в острие стрелки */
}

.dependencyPath:hover .arrowhead {
    opacity: 1;
    transform: scale(1.3); /* Стрелка увеличивается от острия */
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

.dependencyPath:hover .dependencyLine {
    opacity: 1;
    stroke-width: 3.5px; /* Увеличена толщина при наведении */
}

.highlightedDependency {
    z-index: 6;
}

.highlightedLine {
    animation: dependencyPulse 0.5s infinite alternate;
    stroke-width: 2.0px;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
    opacity: 1;
}

.highlightedArrow {
    animation: dependencyPulse 0.5s infinite alternate;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
    opacity: 1;
    transform-origin: 0 0;
}

@keyframes dependencyPulse {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}